

<ion-content  class="homePageBackground" fullscreen="true" >
  
  <ion-header translucent="true" no-border>
    <ion-toolbar class="homePageToolbar">
      <ion-buttons slot="start">
        <ion-menu-button><img style="height : 25px;" src='../../assets/icon/white-menu-icons.png'></ion-menu-button>
      </ion-buttons>
      <ion-title class="transfer_file_font" style="font-weight : 600;font-size: 22px;padding-left:1px;">
        ShareQuick
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- <ion-list lines="none"> -->
    <!-- <ion-item href="https://ionicframework.com/docs/"> -->
      <!-- <div class="modal-body">
        <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
        
     </div> -->
      
    <!-- </ion-item> -->
   
  <!-- </ion-list> -->

  <ion-row center>  
    <ion-col text-center>   
      <ion-button fill="outline" class="transfer_file_font actionBtn" shape="round" size="large">Send</ion-button>
      <br><br>
      <ion-button fill="outline" class="transfer_file_font actionBtnRec" shape="round" size="large">Recieve</ion-button>
      <br>
      <!-- <img class="animateImageRight" src='../../assets/design_assets/MainReadyLeft.png' float-right><br><br> -->
    </ion-col> 
   </ion-row>

   <!-- <ion-row center>  
    <ion-col text-center>   
      <br> -->
      
      
      
    <!-- </ion-col> 
   </ion-row> -->


   

</ion-content>
   
    <div class ="atBottom">
      <img class="animateImageLeft" src='../../assets/design_assets/MainREADY.png' float-left>
      <br><br>
    </div>
