.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

img{
        width:60px;
        height:60px;
        border-radius: 50%;
    }

.getCenter {
    left: 0px;
    top: 0px;
    padding-left: unset;
    padding-right: unset;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    height: 106px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    pointer-events: none;
    
}


.getPositionText{
    padding-top : 100px;
}

ion-header, ion-toolbar{
    height : 150px;
}

